*{padding: 0px; margin: 0px;}

.detail-table{
    /*height: 300px;*/
    width: 90%;
    background: #dfe6e9;
    margin: auto;
    margin-top: 80px;
    padding: 10px 30px 30px 30px;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    color: #212F3C;
}
.detail-table .detail-tr-th{
    font-size: 28px;
    height: 60px;
    margin-bottom: 20px;
}
.detail-table tr{
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
.detail-tr:nth-child(even){
    /*background: #d1ccc0;*/
    background: rgba(171,205,239, 0.4);
    /*color: #4682B4;*/
}
.detail-tr:nth-child(odd){
    background: rgba(209,204,192, 0.4);
    /*color: white;*/
}
.detail-tr:first-child{
    border-radius: 10px 10px 10px 10px;
}

.detail-tr td:nth-child(odd){
    text-align: center;
}
.detail-tr td:nth-child(even){
    text-indent: 2em;
}

.css-hover-o{
    background: #ffb142;
}
.two-active{
    cursor: grabbing;
}
