*{padding:0px;margin:0px;}

.top_title{
    height: 100px;
    width: 100%;
    color: #003366;
    border-bottom: 2px solid #003366;
    /*background: linear-gradient(#99CCFF, #CCCCCC);*/
    opacity: 0.8;
}
.top_title img{
    width: 80px;
    height: 80px;
    margin-left: 5%;
    margin-top: 20px;
    float: left;
}
.top_title h2{
    height: 100px;
    width: 30vw;
    font-size: 35px;
    line-height: 140px;
    margin-left: 15px;
    float: left;
}
.tab-nav{
    width: 460px;
    height: 40px;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    margin-top: 50px;
}
.tab-nav ul{
    width: 460px;
    height: 40px; 
}

.tab-nav ul li{
    display: inline-block;
    padding: 10px;
    background: rgb(221, 228, 230);
    width: 4em;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    word-break:keep-all;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
}
.inner-tab{
    position: absolute;
    margin-top: 10px;
    margin-left: -18px;
    font-size: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-length 0.3s;
}
.sign-out{
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 16px;
    width: 8em;
    max-height: 0;
    overflow: hidden;
    transition: max-length 0.3s;
}
.inner-tab dl dt{
    padding: 10px;
    background: #CCCCCC;
}
.sign-out dl dt{
    padding: 10px;
    background: #CCCCCC;
}
.inner-tab dl dt:hover{
    cursor: pointer;
    background: #ABCDEF;
    color: black;
}
.sign-out dl dt:hover{
    cursor: pointer;
    background: #ABCDEF;
    color: black;
}

#add-info:hover .inner-tab{
    display: block;
    max-height: 40em;
}
#user-name:hover .sign-out{
    max-height: 10em;
}

.tab-ul li{
    cursor: pointer;
}

.tab-ul a{
    text-decoration: none;
}