*{padding: 0px; margin: 0px;}

body{
    background: rgba(223, 249, 251, .2);
}

.index-module{
    width: 95%;
    margin: 0 auto;
}
.info-tab-module-table{
    margin-top: 100px;
}
.logo-header{
    margin-top: 1em;
    font-size: 30px;
    text-shadow: 2px 2px 4px #699;
}
.header-index{
    width: 100%;
}
.header-title{
    font-size: 2em;
    line-height: 120px;
}
.table-responsive{
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
}
.info-table .info-tr .info-td{
    overflow: hidden;
    white-space: nowrap;
    word-break:keep-all;
    text-overflow: ellipsis;
    /*决定手机端显示字数多少*/
    max-width: 10em;
}
.info-table .info-tr .op-td{
    overflow: visible;
}
.info-table .info-tr .page-col{
    overflow: hidden;
    max-width: 1em;
}
.info-table tr:hover{
    cursor: pointer;
    background: #E8F8F5;
}
.nav-1{
    font-size: 18px;
}

.select_form{
    width: 85%;
}
.btn-select-div{
    text-align: center;
}

#btn-select{
    margin-top: 2em;
}

.navbar{
    width: 100%;
}
.navbar-collapse{
    margin-top: 3em;
}
.navbar-collapse li{
    padding-left: 1em;
}
.navbar-collapse li:last-child{
    position: absolute;
    right: 1em;
}
.add-info-module{
    margin-top: 4em;
}

#pagination{
    float: right;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 66px;
    margin-bottom: 30px;
}


#btn-download {
    margin-top: 32px;
    margin-left: 2em;
}