*{padding:0px;margin:0px;}

.content_right{
    float: left;
    height: auto;
    width: 90%;
    margin-left: 5%;
    /*background-color: rgba(0,51,102,.3);*/
}
/*查询条件--start*/
.find_info{
    width: 100%;
    height: 210px;
    font-size: 18px;
}
.select_form{
    width: 100%;
    height: 210px;
}
.find_table{
    margin-top: 25px;
    margin-left: 5%;
    width: 50%;
    height: 210px;
    text-align: center;
}
.find_table tr{
    height: 34px;
}
.find_table input[type="text"]{
    outline: none;
    border: 2px solid #aaa;
    border-radius: 4px;
    height: 30px;
    width: 80%;
}
.find_table input[type="text"]:focus{
    border: 2px solid #DC7633;
}
.find_table input[type="button"]{
    outline: none;
    /*background: #99CCFF;*/
    height: 45px;
    width: 40%; 
    font-size: 18px;
    border-radius: 4px;
}
.sub-select-info:hover{
    cursor: pointer;
    background: rgba(220, 118, 51);
    color: white;
}
/*查询条件--end*/

.info-detail{
    width: 90%;
    height: auto;
    margin: auto;
    font-size: 20px;
    overflow: scroll;
    border-radius: 5px 5px 5px 5px;
}
.info-list-table{
    text-align: center;
    left: 10px;
    width: 95%;
    border-collapse: collapse;
    table-layout:fixed;
    border-radius: 5px 5px 5px 5px;
}

.info-list-table tr{
    height: 50px;
}
.info-list-table tr:nth-child(even){
    background: #dfe6e9;
}
.info-list-table tr:hover{
    background: #E8F8F5;
}
.head-info{
    border-bottom: 2px dotted gray;
}

.info-list-table .info-tr{
    border-bottom: 1px dotted gray;
    font-size: 15px;
}
.info-list-table .info-tr td{
    overflow: hidden;
    white-space: nowrap;
    word-break:keep-all;
    text-overflow: ellipsis;
    padding-left: 10px;
}

/*分页*/
.pagination {
  display: inline-block;
  margin-top: 20px;
  float: right;
  margin-right: 80px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.info-detail-img{
    height: 20px;
    width: 20px;
}
.op-td span{
    margin: 0 8px;
    transition: .3s;
}

input[name="input-page-num"]{
    outline: none;
}
input[name="input-page-num"]:focus{
    border: 2px solid #4CAF50;
}
input[name="input-page-num"], input[name="input-page-num"]+button{
    height: 30px;
    width: 35px;
    border: 1px solid #aaa;
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
    transition: .5s;
}
.btn-goto-page:hover{
    cursor: pointer;
    height: 30px;
    width: 40px;
}
.a-none-style:hover{
    cursor: no-drop;
}
.op-td a{
    text-decoration: none;
    color: #633974;
    transition: .5s;
}
.op-td>span:nth-child(1) a:hover{
    cursor: context-menu;
    color: #d35400;
    font-size: 18px;
}
.op-td>span:nth-child(2) a:hover{
    cursor: pointer;
    color: #d35400;
    font-size: 18px;
}
footer{
    float: left;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: dimgray;
}

#pagination{
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}