
<div class="add-info-tab upload-file-tab" style="display: none;">
    <form method="POST" class="px-4 py-3 upload-file-form" id="upload-form" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-row">
            <div class="form-group">
                <label for="exampleDropdownFormFile" class="file-text">上传文件</label>
                <input type="file" name="uploadfile" id="exampleDropdownFormFile" class="input-file">
            </div>
            <div class="form-group">
                <span></span>
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormS" class="file-text">有效数据起始行</label>
                <input type="number" name="start" id="exampleDropdownFormS" class="input-file">
                <small id="hHelp" class="form-text text-muted">查看文件中需要录入的数据所在的行号.</small>
            </div>
            <button type="submit" class="btn btn-outline-success">上&nbsp;&nbsp;传</button>
        </div>
    </form>
</div>

<div class="add-info-tab own-write-tab" style="display: none;">
    <form class="add-info-form" id="add-info-form" enctype="multipart/form-data">
    <table class="detail-table">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <tr class="detail-tr-th">
            <th colspan="4"><h3 class="content-table-head">填写表格</h3></th>
            <th><input type="button" onclick="clear_form()" value="清空表单" id="btn-to-clear-add"></th>
        </tr>
        <tr class="detail-tr">
            <td class="info-detail-td one-active">档案编号</td>
            <td class="info-detail-td two-active info-way"><input type="text" name="doc_num_create"></td>
            <td class="info-detail-td two-active edit-way"><input type="text" name="doc_num_update" readonly></td>
            <td class="info-detail-td one-active">档案位置</td>
            <td class="info-detail-td two-active"><input type="text" name="doc_index"></td>
        </tr>
        <tr class="detail-tr">
            
            <td class="info-detail-td one-active">文件题名</td>
            <td class="info-detail-td two-active"><input type="text" name="title"></td>
            <td class="info-detail-td one-active">标的</td>
            <td class="info-detail-td two-active"><input type="text" name="subtitle"></td>
        </tr>
        <tr class="detail-tr">
            
            <td class="info-detail-td one-active">档案类型</td>
            <td class="info-detail-td two-active"><input type="text" name="file_type"></td>
            <td class="info-detail-td one-active">责任者2</td>
            <td class="info-detail-td two-active"><input type="text" name="op_site"></td>
        </tr>
        <tr class="detail-tr">
            
            <td class="info-detail-td one-active">责任者1</td>
            <td class="info-detail-td two-active"><input type="text" name="file_main"></td>
            <td class="info-detail-td one-active">文件日期</td>
            <td class="info-detail-td two-active"><input type="date" name="start_time"></td>
        </tr>
        <tr class="detail-tr">
            
            <td class="info-detail-td one-active">到期时间</td>
            <td class="info-detail-td two-active"><input type="date" name="end_time"></td>
            <td class="info-detail-td one-active">归档部门</td>
            <td class="info-detail-td two-active"><input type="text" name="arch_department"></td>
        </tr>
        <tr class="detail-tr">
            
            <td class="info-detail-td one-active">归档时间</td>
            <td class="info-detail-td two-active"><input type="date" name="arch_time"></td>
            <td class="info-detail-td one-active">归档人</td>
            <td class="info-detail-td two-active"><input type="text" name="resp_person"></td>
        </tr>
        <tr class="detail-tr">
            
            <td class="info-detail-td one-active">页数</td>
            <td class="info-detail-td two-active"><input type="text" name="page_num"></td>
            <td class="info-detail-td one-active">概述</td>
            <td class="info-detail-td two-active"><input type="text" name="file_content"></td>
        </tr>
        <tr class="detail-tr">
            <td class="info-detail-td one-active">保管期限</td>
            <td class="info-detail-td two-active"><input type="text" name="time_long"></td>
            <td class="info-detail-td one-active">密级</td>
            <td class="info-detail-td two-active"><input type="text" name="file_secret"></td>
        </tr>
        <tr class="detail-tr">
            <td class="info-detail-td one-active">原件</td>
            <td class="info-detail-td two-active"><input type="text" name="is_origin"></td>
            <td class="info-detail-td one-active">备注</td>
            <td class="info-detail-td two-active"><input type="text" name="text_msg"></td>
        </tr>
        <tr>
            <th colspan="4">
                <input type="button" id="btn-info-add" value="提&nbsp;交&nbsp;信&nbsp;息">
                <input type="button" id="btn-info-update" value="更&nbsp;新&nbsp;信&nbsp;息">
            </th>
        </tr>
    </table>
    </form>
</div>