{{ title }}
{% for i in title %}
    <p>{{ i }}</p>
    <a href="{{ url('user:aa', args=[i]) }}">admin首页</a>
{% endfor %}

<a href="{{ url('user:aa', args=[1]) }}">admin首页</a>

<img src="{{ static('img/a.png') }}" alt="aa" height="200px" width="200px">


<form action="{{ url('user:bb', args=[2]) }}" method="POST">
    <label for=""><input type="text" name="a" value="aa"></label>
    <label for=""><input type="submit" value="sub"></label>
</form>