<html>
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <script type="text/javascript" src="{{ static('js/jquery-3.4.0.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ static('js/detail.js') }}"></script>

    <link rel="stylesheet" href="{{ static('css/detail.css') }}">
</head>
<body>
    <table class="detail-table">

        <tr class="detail-tr-th">
            <th colspan="4">
                文件详情
            </th>
        </tr> 
        
    </table>
</body>
</html>