<html>
<head>
    <meta charset="UTF-8">
    <title>错误...</title>
</head>
<body>
    <div>
        {{ detail }}
    </div>
    
    {% if cur_page %}
    <a href="{{ url('project:info-list', args=[cur_page]) }}">返回</a>
    {% else %}
    <a href="{{ url('project:info-list') }}">返回首页</a>
    {% endif %}
</body>
</html>