<!doctype html>
<html>
    <head>
        <title>台账查询</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block css %}
            <link rel="stylesheet" href="{{ static('css/header.css') }}">
            <link rel="stylesheet" href="{{ static('css/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ static('css/style.css') }}">
        {% endblock %}

        <script type="text/javascript" src="{{ static('js/jquery-3.4.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ static('js/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ static('js/datepicker-zh-CN.js') }}"></script>
        <script type="text/javascript" src="{{ static('js/jquery.validate.min.js') }}"></script>
        <script type="text/javascript" src="{{ static('js/additional-methods.min.js') }}"></script>
        
        {% block ownCss %}
        {% endblock %}
        {% block ownJs %}
        {% endblock %}

    </head>
</html>