{% include 'header.html' %}

{% block ownCss %}
    <link rel="stylesheet" href="{{ static('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/index1.css') }}">
    <link rel="stylesheet" href="{{ static('css/addinfo.css') }}">
    <link rel="stylesheet" href="{{ static('css/jquery.pagination.css') }}">
{% endblock %}

<script type="text/javascript" src="{{ static('js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ static('js/jquery.form.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/addinfo.js') }}"></script>
<script type="text/javascript" src="{{ static('js/index1.js') }}"></script>
<script type="text/javascript" src="{{ static('js/validate_messages_cn.js') }}"></script>
<script type="text/javascript" src="{{ static('js/pagenation.min.js') }}"></script>
<script type="text/javascript" src="{{ static('bootstrap/js/bootstrap.bundle.min.js') }}"></script>

{% block contentblock %}
<div class="index-module container">
    <div class="row header-index">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="{{ static('img/logo.png') }}" width="80" height="80" alt="logo">
            </a>
            <a class="navbar-brand logo-header" href="javascript:void(0)">台账查询系统</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-1 active">
                        <a class="nav-link" href="javascript:void(0)" onclick="show_info()">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        新增台账
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="javascript:void(0)" onclick="show_upload_info()">上传文件添加</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="show_add_info('none')">手动输入添加</a>
                        </div>
                    </li>
                    <li class="nav-item nav-3 dropdown user-info">
                        <a class="nav-link dropdown-toggle user-info user-name" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            用户
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="javascript:void(0)" onclick="sign_out()">退出</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="row info-tab-module ">
        <form method="POST" class="px-4 py-5 select_form" id="form_to_select">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">文件题名:</label>
                    <input type="text" name="title" class="form-control" id="inputEmail4" placeholder="文件题名">
                </div>
                
                <div class="form-group col-md-3">
                    <label for="inputCity">责任者1:</label>
                    <input type="text" name="file_main" class="form-control" id="inputCity" placeholder="责任者1">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">责任者2:</label>
                    <input type="text" name="op_site" class="form-control" id="inputPassword4" placeholder="责任者2">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="select_file_start_date">文件日期:</label>
                    <input type="text" name="s_time" id="select_file_start_date" class="form-control" placeholder="起始日期">
                </div>
                <div class="form-group col-md-3">
                    <label for="select_file_end_date">至</label>
                    <input type="text" name="e_time" class="form-control" id="select_file_end_date" placeholder="终止日期">
                </div>
                <div class="form-group col-md-3">
                    <label for="file-type">档案类型</label>
                    <input type="text" name="file_type" class="form-control" id="file-type" placeholder="档案类型">
                </div>
                <div class="form-group col-md-3 btn-select-div">
                    <button id="btn-select" type="submit" class="btn btn-outline-success sub-select-info">查&nbsp;&nbsp;&nbsp;询</button>
                    <button id="btn-download" class="btn btn-outline-secondary sub-select-info" onclick="export_file()">导&nbsp;&nbsp;&nbsp;出</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row info-tab-module">
        <div class="table-responsive">
            <table class="table table-striped info-table table-hover table-fixed">
            </table>
        </div>
    </div>
    <div id="pagination" class="info-tab-module"></div>

    <div class="row add-info-module">
        {% include 'addinfo.html' %}
    </div>
</div>

{% endblock %}

<footer>
    <span>@汉典集团台账查询系统</span>
</footer>