<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ static('bootstrap/css/bootstrap.min.css') }}">   

    <link rel="stylesheet" href="{{ static('css/login.css') }}">
    <script type="text/javascript" src="{{ static('js/jquery-3.4.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/validate_messages_cn.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/login.js') }}"></script>

</head>
<body class="login_body">
    <div class="card-login">
        <div class="dropdown-login login_module">
            <div class="alert alert-danger alert-dismissible fade show login-error" role="alert">
                <span class="error-msg"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" class="px-4 py-3 login_form">
                <div class="login-head">
                    <h4>台账查询系统登录</h4>
                    <hr>
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">邮箱账号</label>
                    <input type="email" name="email" id="exampleDropdownFormEmail1" class="form-control normal_input user-input">
                </div>
                <div class="form-group">
                    <label style="color: #d35400;"></label>
                </div>
                <div class="form-group ">
                    <label for="exampleDropdownFormPassword1">密码</label>
                    <input type="password" name="password" class="form-control normal_input user-input" id="exampleDropdownFormPassword1" >
                </div>
                <div class="form-group">
                    <label style="color: #d35400;"></label>
                </div>
                <button type="submit" class="btn btn-primary normal_input submit_btn">登&nbsp;&nbsp;录</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item to_change" href="javascript:void(0);">忘记密码?</a>
        </div>

        <div class="dropdown-login change_module">
            <div class="alert alert-danger alert-dismissible fade show change-error" role="alert">
                <span class="error-msg"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" class="px-4 py-3 change_form">
                <div class="login-head">
                    <h4>台账查询系统登录</h4>
                    <hr>
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail">邮箱账号</label>
                    <input type="email" name="email" id="exampleDropdownFormEmail" class="form-control normal_input pwd-input email-user" placeholder="仅支持邮箱账号">
                </div>
                <div class="form-group validate-msg">
                    <label style="color: #d35400;"></label>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormCode">验证码</label>
                    <span class="btn-get-code" style="margin-left: 110px;" onclick="send_code()">获取验证码</span>
                    <input type="text" name="code" class="form-control normal_input pwd-input code-input" placeholder="6位验证码" id="exampleDropdownFormCode" >
                </div>
                <div class="form-group validate-msg">
                    <label style="color: #d35400;"></label>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormNewPassword">密码</label>
                    <input type="password" name="new_password" class="form-control normal_input pwd-input" id="exampleDropdownFormNewPassword" placeholder="新密码">
                </div>
                <div class="form-group validate-msg">
                    <label style="color: #d35400;"></label>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormVPassword">确认密码</label>
                    <input type="password" name="verify_password" class="form-control normal_input pwd-input" id="exampleDropdownFormVPassword" placeholder="再次输入新密码">
                </div>
                <div class="form-group validate-msg">
                    <label style="color: #d35400;"></label>
                </div>
                <button type="submit" class="btn btn-primary sure-btn">确认修改</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item to_login" href="javascript:void(0);">登录账号?</a>
        </div>
    </div>
</body>
</html>