{% block ownJs %}
    <script type="text/javascript" src="{{ static('js/index.js') }}"></script>
{% endblock %}

<div class="top_title">
    <img src="{{ static('img/logo.png') }}" alt="logo" width="80" height="80">
    <h2>档案台账查询系统</h2>
    
    <div class="tab-nav">
        <ul class="tab-ul">
            <li class="tab-li list-tab" onclick="show_tab()">台账列表</li>
            <li class="tab-li add-tab" id="add-info">
                <a href="#add-info" id="add-info-module">新增台账</a>
                <div class="inner-tab" >
                    <dl>
                        <dt onclick="change_tab('o')">上传文件添加</dt>
                        <dt onclick="change_tab('t')">手动输入添加</dt>
                    </dl>
                </div>
            </li>
            <li class="tab-li" id="user-name">
                <a href="#user-name" id="user-name-module">用户名</a>
                <div class="sign-out" id="sign-info-module">
                    <dl>
                        <!-- <dt>个人信息</dt> -->
                        <dt onclick="sign_out()">退出</dt>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</div>


{% block contentblock %}
{% endblock %} 

{% block addContentblock %}
{% endblock %}



