.upload-file-tab{
    width: 330px;
    margin: 0 auto;
    border: 4px solid #927959;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 10px 18px gray;
}
.upload-file-tab form{
    width: 330px;
    height: 350px;
}
.file-text{
    font-size: 18px;
    color: darkslategrey;
}
.input-file{
    width: 100%;
    height: 35px;
    border: 1px solid #927959;
    border-radius: 5px 5px 5px 5px;
}

.upload-file-tab .msg-info{
    text-align: center;
    font-size: 15px;
    color: #F39C12;
}
.input-upload{
    text-align: center;
}
.sub-input-upload{
    text-align: center;
}
.input-upload input{
    height: 40px;
    outline: none;
    font-size: 20px;
    /*border: 2px solid gray;*/
    width: 95%;
    border-radius: 8px 8px 8px 8px;
}
.padding-input input{
    padding: 10px;
}
.btn-submit-up{
    width: 80px;
    height: 40px;
    background: #F0F3F4;
    border-radius: 8px 8px 8px 8px;
    font-size: 18px;
    color: #927959;
}

/*---input---*/
.own-write-tab{
    height: 800px;
    width: 90%;
    float: left;
    margin-left: 5%;
}

.own-write-tab form{
    height: 700px;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
}

.own-write-tab table{
    height: 700px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.own-write-tab table input{
    height: 38px;
    width: 85%;
    outline: none;
    color: #927959;
    border: 1px solid #927959;
    border-radius: 5px 5px 5px 5px;
}

.own-write-tab table input[type="submit"]{
    width: 30%;
    margin-top: 30px;
    height: 60px;
    font-size: 25px;
    background: #FCF3CF;
}

.one-active{
    width: 100px;
}

#btn-to-clear-add{
    font-size: 18px;
    width: 5em;
    float: left;
}
#btn-to-clear-add:hover{
    color: red;
    cursor: pointer;
}
#btn-info-add, #btn-info-update{
    width: 250px;
    margin-top: 30px;
    font-size: 20px;
}
#btn-info-add:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.edit-way{
    display: none;
}
#btn-info-update{
    display: none;
}
#btn-info-update:hover {
    cursor: pointer;
    background: black;
    color: white;
}