* {padding: 0px;margin: 0px;}

.login_body{
    height: 100vh;
    position: relative;
    background: #dff9fb;
}
.change_form, .login_form{
    background-color: #f5f6fa;
    border-radius: 1em 1em 1em 1em;
    box-shadow: .5em 1em 1em dimgray;
}
.login-head{
    margin-bottom: 2em;
}
.card-login{
    width: 100%;
    position: relative;
    top: 20%;
}
.dropdown-login{
    width: 350px;
    margin: 0 auto;
}
.change_module{
    display: none;
}
.login-error, .change-error, .validate-msg{
    display: none;
}
.btn-get-code{
    background: #22a6b3;
    padding: 5px;
    color: white;
    font-size: 1em;
    border-radius: 3px 3px 3px 3px;
}
.btn-get-code:hover{
    cursor: pointer;
}